.movie-skeleton{
  border: none;
  border-radius: 12px;
  overflow: hidden;
}

.skeleton-image{
  height: 280px;
  background: #1f1f1f;
}

.skeleton-line{
  height: 12px;
  background: #1f1f1f;
  margin: 8px 0;
  border-radius: 6px;
}

/* SHIMMER EFFECT */
.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.08),
    transparent
  );
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(300px);
  }
}